/* * {
  outline: 1px solid black;
} */

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: aquamarine;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  position: sticky;
  top: 0;
}

.header-btn {
  display: flex;
  gap: 1rem;
}

.header-btn a {
  padding: 0 25px;
  color: white;
  background-color: green;
  box-shadow: 0 3px black;
}

.header-btn a:active {
  position: relative;
  top: 3px;
  color: white;
  background-color: green;
  box-shadow: none;
}

main {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 90px);
  overflow-y: scroll;
}

#app {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: calc(100dvh - 90px);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 5px;
}

li.completed {
  text-decoration: line-through;
  background-color: green;
}
